<h1>
  List of all directors
</h1>

<hr>

<table border="1">
  <% @directors.each do |dir| %>
  <tr>
    <th>
      ID
      
    </th>

    <th>
      Image
    </th>

    <th>
      Name
    </th>

    <th>
      Dob
    </th>
    
    <th>
    </th>
  </tr>

    <tr>
      <td><%= dir.id %> </td>

      <td>
        <img src="http://robohash.org/<%= dir.image %>">
      </td>

      <td><%= dir.name %></td>

      <td><%= dir.dob %></td>

      <td> <a href="/directors/<%=dir.id%>">Show details</a>
      </td>
    </tr>

  <% end %>
</table>
